:root {
    --primary-color: #824791;
    --primary-container: #FCD7FF;
    --primary-on-hover: #A75ABB;
    --secondary-color: #6A596C;
    --primary-background-dark: #121212;
    --light-on-primary: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family: 'Inter', sans-serif;

    background-color: var(--primary-background-dark);
    color: var(--light-on-primary);
}


/* util */


.btn-primary {
    padding: 10px;
    border: none;
    border-radius: 5px;

    font-size: .8rem;

    background-color: var(--primary-color);
    color: var(--light-on-primary);

    transition: background-color .5s ease;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary-on-hover);
}

.colored-dot {
    color: var(--primary-color);
}

.highlight {
    background-image: linear-gradient(
        90deg, 
        var(--primary-on-hover), 
        var(--primary-on-hover)
        );
        background-repeat: no-repeat;
        background-size: 98% 55%;
        background-position: bottom left;
}



/* layout */


.content-wrapper {
    padding: 0 2rem;
    width: 100%;
    overflow-x: hidden;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* navbar */


.navbar {
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    width: 100%;

    background-color: var(--primary-background-dark);
}

.navbar__logo h3 {
    padding: 20px 0;
}

.navbar__logo a {
    font-weight: 400;
    text-decoration: none;

    color: inherit;
}

.navbar__links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 20px;

    list-style-type: none;
}

.navbar__links li {
    display: block;
    margin: auto 0;
}

.nav-link a {
    display: block;
    margin: auto 0;
    
    text-decoration: none;
    font-size: .8rem;
    
    background-image: linear-gradient(90deg, var(--primary-color), var(--primary-on-hover));
    background-position: bottom left;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    color: inherit;

    transition: background-size .5s ease;
}

.nav-link a:hover {
    background-size: 100% 1px;
}


/* sections */

/* hero section */

.section-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100dvh;
}

.super-hero-heading {
    margin-bottom: 20px;

    font-size: 5rem;
    font-weight: 800;
}

.super-hero-sub-heading {
    text-align: right;
}


/* about section  */


.section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100dvh;
}


.screen-bg {
    padding: 1rem;
    width: 90%;
    height: 70%;

    border: 2px solid var(--primary-container);
    border-radius: 30px;
}

.screen-bottom-bar {
    width: 8rem;
    height: 1rem;

    border-radius: 30px;
    background-color: var(--primary-container);
}


/* feature section */

.feature-card {
    padding: 1rem;

    border: 2px solid var(--primary-container);
    border-radius: 10px;

    transition: background-color .3s ease, color .3s ease;
}


.feature-card:hover,
.feature-card:active {
    color: var(--primary-background-dark);
    background-color: var(--primary-container);

    cursor: pointer;
}

@media (min-width: 375px) {
    .feature-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .feature-card {
        padding: 1rem;
    
        border: 2px solid var(--primary-container);
        border-radius: 10px;
    }
    
    .feature-card:nth-child(1) {
        grid-row: auto;
        grid-column: auto;
        height: 45vmin;
        width: 80vmin;
    }
    
    .feature-card:not(.long) {
        width: 80vmin;
        height: 45vmin;
    }
    
}

@media (min-width: 768px) {
    .feature-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
    .feature-card:nth-child(1) {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        height: auto;
        width: 25vmin;
    }

    .feature-card:not(.long) {
        width: 25vmin;
        height: 25vmin;
    }
}

/* trial section */
.tsa-searchbar {
    padding: 1rem;
    width: 55vmin;
    height: 4vmin;

    border: none;
    border: 2px solid var(--primary-container);
    border-radius: 20px;

    font-size: 1rem;

    color: var(--light-on-primary);
    background-color: transparent;
}

.search-screen {
    gap: 5rem;
}

/* signup section */
.btn-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 5rem;

    border: 2px solid var(--primary-container);
    border-radius: 15px;
}



/* footer */

.footer {
    padding: 2rem;

    text-align: center;
    font-size: 0.9rem;
}